body, html {
	font-family: Impact, Charcoal, sans-serif;
	margin: 0;
	font-size: 16px;
}

header {
	display: block;
	width: 100%;
}

.banner-image {
	background-image: url("images/dragon_banner_1280.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 300px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #622;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #400;
}